* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100vh;
	width: 100vw;
}
h1{
    color: aqua;
    background-color: #000;
}
p
{
    color: yellow;
    background-color: orange;
}
